body {
    font-size: 6vw;
    color: black;
    font-family: Arial;
    background-color: white;
}

#pv_title {
    font-size: 1.25em;
}

#pv_energy_label, #pv_gss_label, #pv_temperature_label, #pv_voltage_label {
    font-weight: bold;
    font-size: 1.05em;
}

#pv_power_label {
    font-weight: bold;
    font-size: 1.05em;
    color: red;
}

#pv_timestamp {
    padding-top: 5px;
    font-size: 0.75em;
}

.dark-mode {
    background-color: black;
    color: white;
}
